.color-red-50 {
color:#ffebee;
}

.bg-red-50 {
background-color:#ffebee!important;
}

.border-red-50 {
border-color:#ffebee!important;
}

.fill-red-50 {
fill:#ffebee!important;
}

.stroke-red-50 {
stroke:#ffebee!important;
}

.color-red-100 {
color:#ffcdd2!important;
}

.bg-red-100 {
background-color:#ffcdd2!important;
}

.border-red-100 {
border-color:#ffcdd2!important;
}

.fill-red-100 {
fill:#ffcdd2!important;
}

.stroke-red-100 {
stroke:#ffcdd2!important;
}

.color-red-200 {
color:#ef9a9a!important;
}

.bg-red-200 {
background-color:#ef9a9a!important;
}

.border-red-200 {
border-color:#ef9a9a!important;
}

.fill-red-200 {
fill:#ef9a9a!important;
}

.stroke-red-200 {
stroke:#ef9a9a!important;
}

.color-red-300 {
color:#e57373!important;
}

.bg-red-300 {
background-color:#e57373!important;
}

.border-red-300 {
border-color:#e57373!important;
}

.fill-red-300 {
fill:#e57373!important;
}

.stroke-red-300 {
stroke:#e57373!important;
}

.color-red-400 {
color:#ef5350!important;
}

.bg-red-400 {
background-color:#ef5350!important;
}

.border-red-400 {
border-color:#ef5350!important;
}

.fill-red-400 {
fill:#ef5350!important;
}

.stroke-red-400 {
stroke:#ef5350!important;
}

.color-red-500 {
color:#f44336!important;
}

.bg-red-500 {
background-color:#f44336!important;
}

.border-red-500 {
border-color:#f44336!important;
}

.fill-red-500 {
fill:#f44336!important;
}

.stroke-red-500 {
stroke:#f44336!important;
}

.color-red-600 {
color:#e53935!important;
}

.bg-red-600 {
background-color:#e53935!important;
}

.border-red-600 {
border-color:#e53935!important;
}

.fill-red-600 {
fill:#e53935!important;
}

.stroke-red-600 {
stroke:#e53935!important;
}

.color-red-700 {
color:#d32f2f!important;
}

.bg-red-700 {
background-color:#d32f2f!important;
}

.border-red-700 {
border-color:#d32f2f!important;
}

.fill-red-700 {
fill:#d32f2f!important;
}

.stroke-red-700 {
stroke:#d32f2f!important;
}

.color-red-800 {
color:#c62828!important;
}

.bg-red-800 {
background-color:#c62828!important;
}

.border-red-800 {
border-color:#c62828!important;
}

.fill-red-800 {
fill:#c62828!important;
}

.stroke-red-800 {
stroke:#c62828!important;
}

.color-red-900 {
color:#b71c1c!important;
}

.bg-red-900 {
background-color:#b71c1c!important;
}

.border-red-900 {
border-color:#b71c1c!important;
}

.fill-red-900 {
fill:#b71c1c!important;
}

.stroke-red-900 {
stroke:#b71c1c!important;
}

.color-red-a100 {
color:#ff8a80!important;
}

.bg-red-a100 {
background-color:#ff8a80!important;
}

.border-red-a100 {
border-color:#ff8a80!important;
}

.fill-red-a100 {
fill:#ff8a80!important;
}

.stroke-red-a100 {
stroke:#ff8a80!important;
}

.color-red-a200 {
color:#ff5252!important;
}

.bg-red-a200 {
background-color:#ff5252!important;
}

.border-red-a200 {
border-color:#ff5252!important;
}

.fill-red-a200 {
fill:#ff5252!important;
}

.stroke-red-a200 {
stroke:#ff5252!important;
}

.color-red-a400 {
color:#ff1744!important;
}

.bg-red-a400 {
background-color:#ff1744!important;
}

.border-red-a400 {
border-color:#ff1744!important;
}

.fill-red-a400 {
fill:#ff1744!important;
}

.stroke-red-a400 {
stroke:#ff1744!important;
}

.color-red-a700 {
color:#d50000!important;
}

.bg-red-a700 {
background-color:#d50000!important;
}

.border-red-a700 {
border-color:#d50000!important;
}

.fill-red-a700 {
fill:#d50000!important;
}

.stroke-red-a700 {
stroke:#d50000!important;
}

.color-pink-50 {
color:#fce4ec!important;
}

.bg-pink-50 {
background-color:#fce4ec!important;
}

.border-pink-50 {
border-color:#fce4ec!important;
}

.fill-pink-50 {
fill:#fce4ec!important;
}

.stroke-pink-50 {
stroke:#fce4ec!important;
}

.color-pink-100 {
color:#f8bbd0!important;
}

.bg-pink-100 {
background-color:#f8bbd0!important;
}

.border-pink-100 {
border-color:#f8bbd0!important;
}

.fill-pink-100 {
fill:#f8bbd0!important;
}

.stroke-pink-100 {
stroke:#f8bbd0!important;
}

.color-pink-200 {
color:#f48fb1!important;
}

.bg-pink-200 {
background-color:#f48fb1!important;
}

.border-pink-200 {
border-color:#f48fb1!important;
}

.fill-pink-200 {
fill:#f48fb1!important;
}

.stroke-pink-200 {
stroke:#f48fb1!important;
}

.color-pink-300 {
color:#f06292!important;
}

.bg-pink-300 {
background-color:#f06292!important;
}

.border-pink-300 {
border-color:#f06292!important;
}

.fill-pink-300 {
fill:#f06292!important;
}

.stroke-pink-300 {
stroke:#f06292!important;
}

.color-pink-400 {
color:#ec407a!important;
}

.bg-pink-400 {
background-color:#ec407a!important;
}

.border-pink-400 {
border-color:#ec407a!important;
}

.fill-pink-400 {
fill:#ec407a!important;
}

.stroke-pink-400 {
stroke:#ec407a!important;
}

.color-pink-500 {
color:#e91e63!important;
}

.bg-pink-500 {
background-color:#e91e63!important;
}

.border-pink-500 {
border-color:#e91e63!important;
}

.fill-pink-500 {
fill:#e91e63!important;
}

.stroke-pink-500 {
stroke:#e91e63!important;
}

.color-pink-600 {
color:#d81b60!important;
}

.bg-pink-600 {
background-color:#d81b60!important;
}

.border-pink-600 {
border-color:#d81b60!important;
}

.fill-pink-600 {
fill:#d81b60!important;
}

.stroke-pink-600 {
stroke:#d81b60!important;
}

.color-pink-700 {
color:#c2185b!important;
}

.bg-pink-700 {
background-color:#c2185b!important;
}

.border-pink-700 {
border-color:#c2185b!important;
}

.fill-pink-700 {
fill:#c2185b!important;
}

.stroke-pink-700 {
stroke:#c2185b!important;
}

.color-pink-800 {
color:#ad1457!important;
}

.bg-pink-800 {
background-color:#ad1457!important;
}

.border-pink-800 {
border-color:#ad1457!important;
}

.fill-pink-800 {
fill:#ad1457!important;
}

.stroke-pink-800 {
stroke:#ad1457!important;
}

.color-pink-900 {
color:#880e4f!important;
}

.bg-pink-900 {
background-color:#880e4f!important;
}

.border-pink-900 {
border-color:#880e4f!important;
}

.fill-pink-900 {
fill:#880e4f!important;
}

.stroke-pink-900 {
stroke:#880e4f!important;
}

.color-pink-a100 {
color:#ff80ab!important;
}

.bg-pink-a100 {
background-color:#ff80ab!important;
}

.border-pink-a100 {
border-color:#ff80ab!important;
}

.fill-pink-a100 {
fill:#ff80ab!important;
}

.stroke-pink-a100 {
stroke:#ff80ab!important;
}

.color-pink-a200 {
color:#ff4081!important;
}

.bg-pink-a200 {
background-color:#ff4081!important;
}

.border-pink-a200 {
border-color:#ff4081!important;
}

.fill-pink-a200 {
fill:#ff4081!important;
}

.stroke-pink-a200 {
stroke:#ff4081!important;
}

.color-pink-a400 {
color:#f50057!important;
}

.bg-pink-a400 {
background-color:#f50057!important;
}

.border-pink-a400 {
border-color:#f50057!important;
}

.fill-pink-a400 {
fill:#f50057!important;
}

.stroke-pink-a400 {
stroke:#f50057!important;
}

.color-pink-a700 {
color:#c51162!important;
}

.bg-pink-a700 {
background-color:#c51162!important;
}

.border-pink-a700 {
border-color:#c51162!important;
}

.fill-pink-a700 {
fill:#c51162!important;
}

.stroke-pink-a700 {
stroke:#c51162!important;
}

.color-purple-50 {
color:#f3e5f5!important;
}

.bg-purple-50 {
background-color:#f3e5f5!important;
}

.border-purple-50 {
border-color:#f3e5f5!important;
}

.fill-purple-50 {
fill:#f3e5f5!important;
}

.stroke-purple-50 {
stroke:#f3e5f5!important;
}

.color-purple-100 {
color:#e1bee7!important;
}

.bg-purple-100 {
background-color:#e1bee7!important;
}

.border-purple-100 {
border-color:#e1bee7!important;
}

.fill-purple-100 {
fill:#e1bee7!important;
}

.stroke-purple-100 {
stroke:#e1bee7!important;
}

.color-purple-200 {
color:#ce93d8!important;
}

.bg-purple-200 {
background-color:#ce93d8!important;
}

.border-purple-200 {
border-color:#ce93d8!important;
}

.fill-purple-200 {
fill:#ce93d8!important;
}

.stroke-purple-200 {
stroke:#ce93d8!important;
}

.color-purple-300 {
color:#ba68c8!important;
}

.bg-purple-300 {
background-color:#ba68c8!important;
}

.border-purple-300 {
border-color:#ba68c8!important;
}

.fill-purple-300 {
fill:#ba68c8!important;
}

.stroke-purple-300 {
stroke:#ba68c8!important;
}

.color-purple-400 {
color:#ab47bc!important;
}

.bg-purple-400 {
background-color:#ab47bc!important;
}

.border-purple-400 {
border-color:#ab47bc!important;
}

.fill-purple-400 {
fill:#ab47bc!important;
}

.stroke-purple-400 {
stroke:#ab47bc!important;
}

.color-purple-500 {
color:#9c27b0!important;
}

.bg-purple-500 {
background-color:#9c27b0!important;
}

.border-purple-500 {
border-color:#9c27b0!important;
}

.fill-purple-500 {
fill:#9c27b0!important;
}

.stroke-purple-500 {
stroke:#9c27b0!important;
}

.color-purple-600 {
color:#8e24aa!important;
}

.bg-purple-600 {
background-color:#8e24aa!important;
}

.border-purple-600 {
border-color:#8e24aa!important;
}

.fill-purple-600 {
fill:#8e24aa!important;
}

.stroke-purple-600 {
stroke:#8e24aa!important;
}

.color-purple-700 {
color:#7b1fa2!important;
}

.bg-purple-700 {
background-color:#7b1fa2!important;
}

.border-purple-700 {
border-color:#7b1fa2!important;
}

.fill-purple-700 {
fill:#7b1fa2!important;
}

.stroke-purple-700 {
stroke:#7b1fa2!important;
}

.color-purple-800 {
color:#6a1b9a!important;
}

.bg-purple-800 {
background-color:#6a1b9a!important;
}

.border-purple-800 {
border-color:#6a1b9a!important;
}

.fill-purple-800 {
fill:#6a1b9a!important;
}

.stroke-purple-800 {
stroke:#6a1b9a!important;
}

.color-purple-900 {
color:#4a148c!important;
}

.bg-purple-900 {
background-color:#4a148c!important;
}

.border-purple-900 {
border-color:#4a148c!important;
}

.fill-purple-900 {
fill:#4a148c!important;
}

.stroke-purple-900 {
stroke:#4a148c!important;
}

.color-purple-a100 {
color:#ea80fc!important;
}

.bg-purple-a100 {
background-color:#ea80fc!important;
}

.border-purple-a100 {
border-color:#ea80fc!important;
}

.fill-purple-a100 {
fill:#ea80fc!important;
}

.stroke-purple-a100 {
stroke:#ea80fc!important;
}

.color-purple-a200 {
color:#e040fb!important;
}

.bg-purple-a200 {
background-color:#e040fb!important;
}

.border-purple-a200 {
border-color:#e040fb!important;
}

.fill-purple-a200 {
fill:#e040fb!important;
}

.stroke-purple-a200 {
stroke:#e040fb!important;
}

.color-purple-a400 {
color:#d500f9!important;
}

.bg-purple-a400 {
background-color:#d500f9!important;
}

.border-purple-a400 {
border-color:#d500f9!important;
}

.fill-purple-a400 {
fill:#d500f9!important;
}

.stroke-purple-a400 {
stroke:#d500f9!important;
}

.color-purple-a700 {
color:#a0f!important;
}

.bg-purple-a700 {
background-color:#a0f!important;
}

.border-purple-a700 {
border-color:#a0f!important;
}

.fill-purple-a700 {
fill:#a0f!important;
}

.stroke-purple-a700 {
stroke:#a0f!important;
}

.color-deep-purple-50 {
color:#ede7f6!important;
}

.bg-deep-purple-50 {
background-color:#ede7f6!important;
}

.border-deep-purple-50 {
border-color:#ede7f6!important;
}

.fill-deep-purple-50 {
fill:#ede7f6!important;
}

.stroke-deep-purple-50 {
stroke:#ede7f6!important;
}

.color-deep-purple-100 {
color:#d1c4e9!important;
}

.bg-deep-purple-100 {
background-color:#d1c4e9!important;
}

.border-deep-purple-100 {
border-color:#d1c4e9!important;
}

.fill-deep-purple-100 {
fill:#d1c4e9!important;
}

.stroke-deep-purple-100 {
stroke:#d1c4e9!important;
}

.color-deep-purple-200 {
color:#b39ddb!important;
}

.bg-deep-purple-200 {
background-color:#b39ddb!important;
}

.border-deep-purple-200 {
border-color:#b39ddb!important;
}

.fill-deep-purple-200 {
fill:#b39ddb!important;
}

.stroke-deep-purple-200 {
stroke:#b39ddb!important;
}

.color-deep-purple-300 {
color:#9575cd!important;
}

.bg-deep-purple-300 {
background-color:#9575cd!important;
}

.border-deep-purple-300 {
border-color:#9575cd!important;
}

.fill-deep-purple-300 {
fill:#9575cd!important;
}

.stroke-deep-purple-300 {
stroke:#9575cd!important;
}

.color-deep-purple-400 {
color:#7e57c2!important;
}

.bg-deep-purple-400 {
background-color:#7e57c2!important;
}

.border-deep-purple-400 {
border-color:#7e57c2!important;
}

.fill-deep-purple-400 {
fill:#7e57c2!important;
}

.stroke-deep-purple-400 {
stroke:#7e57c2!important;
}

.color-deep-purple-500 {
color:#673ab7!important;
}

.bg-deep-purple-500 {
background-color:#673ab7!important;
}

.border-deep-purple-500 {
border-color:#673ab7!important;
}

.fill-deep-purple-500 {
fill:#673ab7!important;
}

.stroke-deep-purple-500 {
stroke:#673ab7!important;
}

.color-deep-purple-600 {
color:#5e35b1!important;
}

.bg-deep-purple-600 {
background-color:#5e35b1!important;
}

.border-deep-purple-600 {
border-color:#5e35b1!important;
}

.fill-deep-purple-600 {
fill:#5e35b1!important;
}

.stroke-deep-purple-600 {
stroke:#5e35b1!important;
}

.color-deep-purple-700 {
color:#512da8!important;
}

.bg-deep-purple-700 {
background-color:#512da8!important;
}

.border-deep-purple-700 {
border-color:#512da8!important;
}

.fill-deep-purple-700 {
fill:#512da8!important;
}

.stroke-deep-purple-700 {
stroke:#512da8!important;
}

.color-deep-purple-800 {
color:#4527a0!important;
}

.bg-deep-purple-800 {
background-color:#4527a0!important;
}

.border-deep-purple-800 {
border-color:#4527a0!important;
}

.fill-deep-purple-800 {
fill:#4527a0!important;
}

.stroke-deep-purple-800 {
stroke:#4527a0!important;
}

.color-deep-purple-900 {
color:#311b92!important;
}

.bg-deep-purple-900 {
background-color:#311b92!important;
}

.border-deep-purple-900 {
border-color:#311b92!important;
}

.fill-deep-purple-900 {
fill:#311b92!important;
}

.stroke-deep-purple-900 {
stroke:#311b92!important;
}

.color-deep-purple-a100 {
color:#b388ff!important;
}

.bg-deep-purple-a100 {
background-color:#b388ff!important;
}

.border-deep-purple-a100 {
border-color:#b388ff!important;
}

.fill-deep-purple-a100 {
fill:#b388ff!important;
}

.stroke-deep-purple-a100 {
stroke:#b388ff!important;
}

.color-deep-purple-a200 {
color:#7c4dff!important;
}

.bg-deep-purple-a200 {
background-color:#7c4dff!important;
}

.border-deep-purple-a200 {
border-color:#7c4dff!important;
}

.fill-deep-purple-a200 {
fill:#7c4dff!important;
}

.stroke-deep-purple-a200 {
stroke:#7c4dff!important;
}

.color-deep-purple-a400 {
color:#651fff!important;
}

.bg-deep-purple-a400 {
background-color:#651fff!important;
}

.border-deep-purple-a400 {
border-color:#651fff!important;
}

.fill-deep-purple-a400 {
fill:#651fff!important;
}

.stroke-deep-purple-a400 {
stroke:#651fff!important;
}

.color-deep-purple-a700 {
color:#6200ea!important;
}

.bg-deep-purple-a700 {
background-color:#6200ea!important;
}

.border-deep-purple-a700 {
border-color:#6200ea!important;
}

.fill-deep-purple-a700 {
fill:#6200ea!important;
}

.stroke-deep-purple-a700 {
stroke:#6200ea!important;
}

.color-indigo-50 {
color:#e8eaf6!important;
}

.bg-indigo-50 {
background-color:#e8eaf6!important;
}

.border-indigo-50 {
border-color:#e8eaf6!important;
}

.fill-indigo-50 {
fill:#e8eaf6!important;
}

.stroke-indigo-50 {
stroke:#e8eaf6!important;
}

.color-indigo-100 {
color:#c5cae9!important;
}

.bg-indigo-100 {
background-color:#c5cae9!important;
}

.border-indigo-100 {
border-color:#c5cae9!important;
}

.fill-indigo-100 {
fill:#c5cae9!important;
}

.stroke-indigo-100 {
stroke:#c5cae9!important;
}

.color-indigo-200 {
color:#9fa8da!important;
}

.bg-indigo-200 {
background-color:#9fa8da!important;
}

.border-indigo-200 {
border-color:#9fa8da!important;
}

.fill-indigo-200 {
fill:#9fa8da!important;
}

.stroke-indigo-200 {
stroke:#9fa8da!important;
}

.color-indigo-300 {
color:#7986cb!important;
}

.bg-indigo-300 {
background-color:#7986cb!important;
}

.border-indigo-300 {
border-color:#7986cb!important;
}

.fill-indigo-300 {
fill:#7986cb!important;
}

.stroke-indigo-300 {
stroke:#7986cb!important;
}

.color-indigo-400 {
color:#5c6bc0!important;
}

.bg-indigo-400 {
background-color:#5c6bc0!important;
}

.border-indigo-400 {
border-color:#5c6bc0!important;
}

.fill-indigo-400 {
fill:#5c6bc0!important;
}

.stroke-indigo-400 {
stroke:#5c6bc0!important;
}

.color-indigo-500 {
color:#3f51b5!important;
}

.bg-indigo-500 {
background-color:#3f51b5!important;
}

.border-indigo-500 {
border-color:#3f51b5!important;
}

.fill-indigo-500 {
fill:#3f51b5!important;
}

.stroke-indigo-500 {
stroke:#3f51b5!important;
}

.color-indigo-600 {
color:#3949ab!important;
}

.bg-indigo-600 {
background-color:#3949ab!important;
}

.border-indigo-600 {
border-color:#3949ab!important;
}

.fill-indigo-600 {
fill:#3949ab!important;
}

.stroke-indigo-600 {
stroke:#3949ab!important;
}

.color-indigo-700 {
color:#303f9f!important;
}

.bg-indigo-700 {
background-color:#303f9f!important;
}

.border-indigo-700 {
border-color:#303f9f!important;
}

.fill-indigo-700 {
fill:#303f9f!important;
}

.stroke-indigo-700 {
stroke:#303f9f!important;
}

.color-indigo-800 {
color:#283593!important;
}

.bg-indigo-800 {
background-color:#283593!important;
}

.border-indigo-800 {
border-color:#283593!important;
}

.fill-indigo-800 {
fill:#283593!important;
}

.stroke-indigo-800 {
stroke:#283593!important;
}

.color-indigo-900 {
color:#1a237e!important;
}

.bg-indigo-900 {
background-color:#1a237e!important;
}

.border-indigo-900 {
border-color:#1a237e!important;
}

.fill-indigo-900 {
fill:#1a237e!important;
}

.stroke-indigo-900 {
stroke:#1a237e!important;
}

.color-indigo-a100 {
color:#8c9eff!important;
}

.bg-indigo-a100 {
background-color:#8c9eff!important;
}

.border-indigo-a100 {
border-color:#8c9eff!important;
}

.fill-indigo-a100 {
fill:#8c9eff!important;
}

.stroke-indigo-a100 {
stroke:#8c9eff!important;
}

.color-indigo-a200 {
color:#536dfe!important;
}

.bg-indigo-a200 {
background-color:#536dfe!important;
}

.border-indigo-a200 {
border-color:#536dfe!important;
}

.fill-indigo-a200 {
fill:#536dfe!important;
}

.stroke-indigo-a200 {
stroke:#536dfe!important;
}

.color-indigo-a400 {
color:#3d5afe!important;
}

.bg-indigo-a400 {
background-color:#3d5afe!important;
}

.border-indigo-a400 {
border-color:#3d5afe!important;
}

.fill-indigo-a400 {
fill:#3d5afe!important;
}

.stroke-indigo-a400 {
stroke:#3d5afe!important;
}

.color-indigo-a700 {
color:#304ffe!important;
}

.bg-indigo-a700 {
background-color:#304ffe!important;
}

.border-indigo-a700 {
border-color:#304ffe!important;
}

.fill-indigo-a700 {
fill:#304ffe!important;
}

.stroke-indigo-a700 {
stroke:#304ffe!important;
}

.color-blue-50 {
color:#e3f2fd!important;
}

.bg-blue-50 {
background-color:#e3f2fd!important;
}

.border-blue-50 {
border-color:#e3f2fd!important;
}

.fill-blue-50 {
fill:#e3f2fd!important;
}

.stroke-blue-50 {
stroke:#e3f2fd!important;
}

.color-blue-100 {
color:#bbdefb!important;
}

.bg-blue-100 {
background-color:#bbdefb!important;
}

.border-blue-100 {
border-color:#bbdefb!important;
}

.fill-blue-100 {
fill:#bbdefb!important;
}

.stroke-blue-100 {
stroke:#bbdefb!important;
}

.color-blue-200 {
color:#90caf9!important;
}

.bg-blue-200 {
background-color:#90caf9!important;
}

.border-blue-200 {
border-color:#90caf9!important;
}

.fill-blue-200 {
fill:#90caf9!important;
}

.stroke-blue-200 {
stroke:#90caf9!important;
}

.color-blue-300 {
color:#64b5f6!important;
}

.bg-blue-300 {
background-color:#64b5f6!important;
}

.border-blue-300 {
border-color:#64b5f6!important;
}

.fill-blue-300 {
fill:#64b5f6!important;
}

.stroke-blue-300 {
stroke:#64b5f6!important;
}

.color-blue-400 {
color:#42a5f5!important;
}

.bg-blue-400 {
background-color:#42a5f5!important;
}

.border-blue-400 {
border-color:#42a5f5!important;
}

.fill-blue-400 {
fill:#42a5f5!important;
}

.stroke-blue-400 {
stroke:#42a5f5!important;
}

.color-blue-500 {
color:#2196f3!important;
}

.bg-blue-500 {
background-color:#2196f3!important;
}

.border-blue-500 {
border-color:#2196f3!important;
}

.fill-blue-500 {
fill:#2196f3!important;
}

.stroke-blue-500 {
stroke:#2196f3!important;
}

.color-blue-600 {
color:#1e88e5!important;
}

.bg-blue-600 {
background-color:#1e88e5!important;
}

.border-blue-600 {
border-color:#1e88e5!important;
}

.fill-blue-600 {
fill:#1e88e5!important;
}

.stroke-blue-600 {
stroke:#1e88e5!important;
}

.color-blue-700 {
color:#1976d2!important;
}

.bg-blue-700 {
background-color:#1976d2!important;
}

.border-blue-700 {
border-color:#1976d2!important;
}

.fill-blue-700 {
fill:#1976d2!important;
}

.stroke-blue-700 {
stroke:#1976d2!important;
}

.color-blue-800 {
color:#1565c0!important;
}

.bg-blue-800 {
background-color:#1565c0!important;
}

.border-blue-800 {
border-color:#1565c0!important;
}

.fill-blue-800 {
fill:#1565c0!important;
}

.stroke-blue-800 {
stroke:#1565c0!important;
}

.color-blue-900 {
color:#0d47a1!important;
}

.bg-blue-900 {
background-color:#0d47a1!important;
}

.border-blue-900 {
border-color:#0d47a1!important;
}

.fill-blue-900 {
fill:#0d47a1!important;
}

.stroke-blue-900 {
stroke:#0d47a1!important;
}

.color-blue-a100 {
color:#82b1ff!important;
}

.bg-blue-a100 {
background-color:#82b1ff!important;
}

.border-blue-a100 {
border-color:#82b1ff!important;
}

.fill-blue-a100 {
fill:#82b1ff!important;
}

.stroke-blue-a100 {
stroke:#82b1ff!important;
}

.color-blue-a200 {
color:#448aff!important;
}

.bg-blue-a200 {
background-color:#448aff!important;
}

.border-blue-a200 {
border-color:#448aff!important;
}

.fill-blue-a200 {
fill:#448aff!important;
}

.stroke-blue-a200 {
stroke:#448aff!important;
}

.color-blue-a400 {
color:#2979ff!important;
}

.bg-blue-a400 {
background-color:#2979ff!important;
}

.border-blue-a400 {
border-color:#2979ff!important;
}

.fill-blue-a400 {
fill:#2979ff!important;
}

.stroke-blue-a400 {
stroke:#2979ff!important;
}

.color-blue-a700 {
color:#2962ff!important;
}

.bg-blue-a700 {
background-color:#2962ff!important;
}

.border-blue-a700 {
border-color:#2962ff!important;
}

.fill-blue-a700 {
fill:#2962ff!important;
}

.stroke-blue-a700 {
stroke:#2962ff!important;
}

.color-light-blue-50 {
color:#e1f5fe!important;
}

.bg-light-blue-50 {
background-color:#e1f5fe!important;
}

.border-light-blue-50 {
border-color:#e1f5fe!important;
}

.fill-light-blue-50 {
fill:#e1f5fe!important;
}

.stroke-light-blue-50 {
stroke:#e1f5fe!important;
}

.color-light-blue-100 {
color:#b3e5fc!important;
}

.bg-light-blue-100 {
background-color:#b3e5fc!important;
}

.border-light-blue-100 {
border-color:#b3e5fc!important;
}

.fill-light-blue-100 {
fill:#b3e5fc!important;
}

.stroke-light-blue-100 {
stroke:#b3e5fc!important;
}

.color-light-blue-200 {
color:#81d4fa!important;
}

.bg-light-blue-200 {
background-color:#81d4fa!important;
}

.border-light-blue-200 {
border-color:#81d4fa!important;
}

.fill-light-blue-200 {
fill:#81d4fa!important;
}

.stroke-light-blue-200 {
stroke:#81d4fa!important;
}

.color-light-blue-300 {
color:#4fc3f7!important;
}

.bg-light-blue-300 {
background-color:#4fc3f7!important;
}

.border-light-blue-300 {
border-color:#4fc3f7!important;
}

.fill-light-blue-300 {
fill:#4fc3f7!important;
}

.stroke-light-blue-300 {
stroke:#4fc3f7!important;
}

.color-light-blue-400 {
color:#29b6f6!important;
}

.bg-light-blue-400 {
background-color:#29b6f6!important;
}

.border-light-blue-400 {
border-color:#29b6f6!important;
}

.fill-light-blue-400 {
fill:#29b6f6!important;
}

.stroke-light-blue-400 {
stroke:#29b6f6!important;
}

.color-light-blue-500 {
color:#03a9f4!important;
}

.bg-light-blue-500 {
background-color:#03a9f4!important;
}

.border-light-blue-500 {
border-color:#03a9f4!important;
}

.fill-light-blue-500 {
fill:#03a9f4!important;
}

.stroke-light-blue-500 {
stroke:#03a9f4!important;
}

.color-light-blue-600 {
color:#039be5!important;
}

.bg-light-blue-600 {
background-color:#039be5!important;
}

.border-light-blue-600 {
border-color:#039be5!important;
}

.fill-light-blue-600 {
fill:#039be5!important;
}

.stroke-light-blue-600 {
stroke:#039be5!important;
}

.color-light-blue-700 {
color:#0288d1!important;
}

.bg-light-blue-700 {
background-color:#0288d1!important;
}

.border-light-blue-700 {
border-color:#0288d1!important;
}

.fill-light-blue-700 {
fill:#0288d1!important;
}

.stroke-light-blue-700 {
stroke:#0288d1!important;
}

.color-light-blue-800 {
color:#0277bd!important;
}

.bg-light-blue-800 {
background-color:#0277bd!important;
}

.border-light-blue-800 {
border-color:#0277bd!important;
}

.fill-light-blue-800 {
fill:#0277bd!important;
}

.stroke-light-blue-800 {
stroke:#0277bd!important;
}

.color-light-blue-900 {
color:#01579b!important;
}

.bg-light-blue-900 {
background-color:#01579b!important;
}

.border-light-blue-900 {
border-color:#01579b!important;
}

.fill-light-blue-900 {
fill:#01579b!important;
}

.stroke-light-blue-900 {
stroke:#01579b!important;
}

.color-light-blue-a100 {
color:#80d8ff!important;
}

.bg-light-blue-a100 {
background-color:#80d8ff!important;
}

.border-light-blue-a100 {
border-color:#80d8ff!important;
}

.fill-light-blue-a100 {
fill:#80d8ff!important;
}

.stroke-light-blue-a100 {
stroke:#80d8ff!important;
}

.color-light-blue-a200 {
color:#40c4ff!important;
}

.bg-light-blue-a200 {
background-color:#40c4ff!important;
}

.border-light-blue-a200 {
border-color:#40c4ff!important;
}

.fill-light-blue-a200 {
fill:#40c4ff!important;
}

.stroke-light-blue-a200 {
stroke:#40c4ff!important;
}

.color-light-blue-a400 {
color:#00b0ff!important;
}

.bg-light-blue-a400 {
background-color:#00b0ff!important;
}

.border-light-blue-a400 {
border-color:#00b0ff!important;
}

.fill-light-blue-a400 {
fill:#00b0ff!important;
}

.stroke-light-blue-a400 {
stroke:#00b0ff!important;
}

.color-light-blue-a700 {
color:#0091ea!important;
}

.bg-light-blue-a700 {
background-color:#0091ea!important;
}

.border-light-blue-a700 {
border-color:#0091ea!important;
}

.fill-light-blue-a700 {
fill:#0091ea!important;
}

.stroke-light-blue-a700 {
stroke:#0091ea!important;
}

.color-cyan-50 {
color:#e0f7fa!important;
}

.bg-cyan-50 {
background-color:#e0f7fa!important;
}

.border-cyan-50 {
border-color:#e0f7fa!important;
}

.fill-cyan-50 {
fill:#e0f7fa!important;
}

.stroke-cyan-50 {
stroke:#e0f7fa!important;
}

.color-cyan-100 {
color:#b2ebf2!important;
}

.bg-cyan-100 {
background-color:#b2ebf2!important;
}

.border-cyan-100 {
border-color:#b2ebf2!important;
}

.fill-cyan-100 {
fill:#b2ebf2!important;
}

.stroke-cyan-100 {
stroke:#b2ebf2!important;
}

.color-cyan-200 {
color:#80deea!important;
}

.bg-cyan-200 {
background-color:#80deea!important;
}

.border-cyan-200 {
border-color:#80deea!important;
}

.fill-cyan-200 {
fill:#80deea!important;
}

.stroke-cyan-200 {
stroke:#80deea!important;
}

.color-cyan-300 {
color:#4dd0e1!important;
}

.bg-cyan-300 {
background-color:#4dd0e1!important;
}

.border-cyan-300 {
border-color:#4dd0e1!important;
}

.fill-cyan-300 {
fill:#4dd0e1!important;
}

.stroke-cyan-300 {
stroke:#4dd0e1!important;
}

.color-cyan-400 {
color:#26c6da!important;
}

.bg-cyan-400 {
background-color:#26c6da!important;
}

.border-cyan-400 {
border-color:#26c6da!important;
}

.fill-cyan-400 {
fill:#26c6da!important;
}

.stroke-cyan-400 {
stroke:#26c6da!important;
}

.color-cyan-500 {
color:#00bcd4!important;
}

.bg-cyan-500 {
background-color:#00bcd4!important;
}

.border-cyan-500 {
border-color:#00bcd4!important;
}

.fill-cyan-500 {
fill:#00bcd4!important;
}

.stroke-cyan-500 {
stroke:#00bcd4!important;
}

.color-cyan-600 {
color:#00acc1!important;
}

.bg-cyan-600 {
background-color:#00acc1!important;
}

.border-cyan-600 {
border-color:#00acc1!important;
}

.fill-cyan-600 {
fill:#00acc1!important;
}

.stroke-cyan-600 {
stroke:#00acc1!important;
}

.color-cyan-700 {
color:#0097a7!important;
}

.bg-cyan-700 {
background-color:#0097a7!important;
}

.border-cyan-700 {
border-color:#0097a7!important;
}

.fill-cyan-700 {
fill:#0097a7!important;
}

.stroke-cyan-700 {
stroke:#0097a7!important;
}

.color-cyan-800 {
color:#00838f!important;
}

.bg-cyan-800 {
background-color:#00838f!important;
}

.border-cyan-800 {
border-color:#00838f!important;
}

.fill-cyan-800 {
fill:#00838f!important;
}

.stroke-cyan-800 {
stroke:#00838f!important;
}

.color-cyan-900 {
color:#006064!important;
}

.bg-cyan-900 {
background-color:#006064!important;
}

.border-cyan-900 {
border-color:#006064!important;
}

.fill-cyan-900 {
fill:#006064!important;
}

.stroke-cyan-900 {
stroke:#006064!important;
}

.color-cyan-a100 {
color:#84ffff!important;
}

.bg-cyan-a100 {
background-color:#84ffff!important;
}

.border-cyan-a100 {
border-color:#84ffff!important;
}

.fill-cyan-a100 {
fill:#84ffff!important;
}

.stroke-cyan-a100 {
stroke:#84ffff!important;
}

.color-cyan-a200 {
color:#18ffff!important;
}

.bg-cyan-a200 {
background-color:#18ffff!important;
}

.border-cyan-a200 {
border-color:#18ffff!important;
}

.fill-cyan-a200 {
fill:#18ffff!important;
}

.stroke-cyan-a200 {
stroke:#18ffff!important;
}

.color-cyan-a400 {
color:#00e5ff!important;
}

.bg-cyan-a400 {
background-color:#00e5ff!important;
}

.border-cyan-a400 {
border-color:#00e5ff!important;
}

.fill-cyan-a400 {
fill:#00e5ff!important;
}

.stroke-cyan-a400 {
stroke:#00e5ff!important;
}

.color-cyan-a700 {
color:#00b8d4!important;
}

.bg-cyan-a700 {
background-color:#00b8d4!important;
}

.border-cyan-a700 {
border-color:#00b8d4!important;
}

.fill-cyan-a700 {
fill:#00b8d4!important;
}

.stroke-cyan-a700 {
stroke:#00b8d4!important;
}

.color-teal-50 {
color:#e0f2f1!important;
}

.bg-teal-50 {
background-color:#e0f2f1!important;
}

.border-teal-50 {
border-color:#e0f2f1!important;
}

.fill-teal-50 {
fill:#e0f2f1!important;
}

.stroke-teal-50 {
stroke:#e0f2f1!important;
}

.color-teal-100 {
color:#b2dfdb!important;
}

.bg-teal-100 {
background-color:#b2dfdb!important;
}

.border-teal-100 {
border-color:#b2dfdb!important;
}

.fill-teal-100 {
fill:#b2dfdb!important;
}

.stroke-teal-100 {
stroke:#b2dfdb!important;
}

.color-teal-200 {
color:#80cbc4!important;
}

.bg-teal-200 {
background-color:#80cbc4!important;
}

.border-teal-200 {
border-color:#80cbc4!important;
}

.fill-teal-200 {
fill:#80cbc4!important;
}

.stroke-teal-200 {
stroke:#80cbc4!important;
}

.color-teal-300 {
color:#4db6ac!important;
}

.bg-teal-300 {
background-color:#4db6ac!important;
}

.border-teal-300 {
border-color:#4db6ac!important;
}

.fill-teal-300 {
fill:#4db6ac!important;
}

.stroke-teal-300 {
stroke:#4db6ac!important;
}

.color-teal-400 {
color:#26a69a!important;
}

.bg-teal-400 {
background-color:#26a69a!important;
}

.border-teal-400 {
border-color:#26a69a!important;
}

.fill-teal-400 {
fill:#26a69a!important;
}

.stroke-teal-400 {
stroke:#26a69a!important;
}

.color-teal-500 {
color:#009688!important;
}

.bg-teal-500 {
background-color:#009688!important;
}

.border-teal-500 {
border-color:#009688!important;
}

.fill-teal-500 {
fill:#009688!important;
}

.stroke-teal-500 {
stroke:#009688!important;
}

.color-teal-600 {
color:#00897b!important;
}

.bg-teal-600 {
background-color:#00897b!important;
}

.border-teal-600 {
border-color:#00897b!important;
}

.fill-teal-600 {
fill:#00897b!important;
}

.stroke-teal-600 {
stroke:#00897b!important;
}

.color-teal-700 {
color:#00796b!important;
}

.bg-teal-700 {
background-color:#00796b!important;
}

.border-teal-700 {
border-color:#00796b!important;
}

.fill-teal-700 {
fill:#00796b!important;
}

.stroke-teal-700 {
stroke:#00796b!important;
}

.color-teal-800 {
color:#00695c!important;
}

.bg-teal-800 {
background-color:#00695c!important;
}

.border-teal-800 {
border-color:#00695c!important;
}

.fill-teal-800 {
fill:#00695c!important;
}

.stroke-teal-800 {
stroke:#00695c!important;
}

.color-teal-900 {
color:#004d40!important;
}

.bg-teal-900 {
background-color:#004d40!important;
}

.border-teal-900 {
border-color:#004d40!important;
}

.fill-teal-900 {
fill:#004d40!important;
}

.stroke-teal-900 {
stroke:#004d40!important;
}

.color-teal-a100 {
color:#a7ffeb!important;
}

.bg-teal-a100 {
background-color:#a7ffeb!important;
}

.border-teal-a100 {
border-color:#a7ffeb!important;
}

.fill-teal-a100 {
fill:#a7ffeb!important;
}

.stroke-teal-a100 {
stroke:#a7ffeb!important;
}

.color-teal-a200 {
color:#64ffda!important;
}

.bg-teal-a200 {
background-color:#64ffda!important;
}

.border-teal-a200 {
border-color:#64ffda!important;
}

.fill-teal-a200 {
fill:#64ffda!important;
}

.stroke-teal-a200 {
stroke:#64ffda!important;
}

.color-teal-a400 {
color:#1de9b6!important;
}

.bg-teal-a400 {
background-color:#1de9b6!important;
}

.border-teal-a400 {
border-color:#1de9b6!important;
}

.fill-teal-a400 {
fill:#1de9b6!important;
}

.stroke-teal-a400 {
stroke:#1de9b6!important;
}

.color-teal-a700 {
color:#00bfa5!important;
}

.bg-teal-a700 {
background-color:#00bfa5!important;
}

.border-teal-a700 {
border-color:#00bfa5!important;
}

.fill-teal-a700 {
fill:#00bfa5!important;
}

.stroke-teal-a700 {
stroke:#00bfa5!important;
}

.color-green-50 {
color:#e8f5e9!important;
}

.bg-green-50 {
background-color:#e8f5e9!important;
}

.border-green-50 {
border-color:#e8f5e9!important;
}

.fill-green-50 {
fill:#e8f5e9!important;
}

.stroke-green-50 {
stroke:#e8f5e9!important;
}

.color-green-100 {
color:#c8e6c9!important;
}

.bg-green-100 {
background-color:#c8e6c9!important;
}

.border-green-100 {
border-color:#c8e6c9!important;
}

.fill-green-100 {
fill:#c8e6c9!important;
}

.stroke-green-100 {
stroke:#c8e6c9!important;
}

.color-green-200 {
color:#a5d6a7!important;
}

.bg-green-200 {
background-color:#a5d6a7!important;
}

.border-green-200 {
border-color:#a5d6a7!important;
}

.fill-green-200 {
fill:#a5d6a7!important;
}

.stroke-green-200 {
stroke:#a5d6a7!important;
}

.color-green-300 {
color:#81c784!important;
}

.bg-green-300 {
background-color:#81c784!important;
}

.border-green-300 {
border-color:#81c784!important;
}

.fill-green-300 {
fill:#81c784!important;
}

.stroke-green-300 {
stroke:#81c784!important;
}

.color-green-400 {
color:#66bb6a!important;
}

.bg-green-400 {
background-color:#66bb6a!important;
}

.border-green-400 {
border-color:#66bb6a!important;
}

.fill-green-400 {
fill:#66bb6a!important;
}

.stroke-green-400 {
stroke:#66bb6a!important;
}

.color-green-500 {
color:#4caf50!important;
}

.bg-green-500 {
background-color:#4caf50!important;
}

.border-green-500 {
border-color:#4caf50!important;
}

.fill-green-500 {
fill:#4caf50!important;
}

.stroke-green-500 {
stroke:#4caf50!important;
}

.color-green-600 {
color:#43a047!important;
}

.bg-green-600 {
background-color:#43a047!important;
}

.border-green-600 {
border-color:#43a047!important;
}

.fill-green-600 {
fill:#43a047!important;
}

.stroke-green-600 {
stroke:#43a047!important;
}

.color-green-700 {
color:#388e3c!important;
}

.bg-green-700 {
background-color:#388e3c!important;
}

.border-green-700 {
border-color:#388e3c!important;
}

.fill-green-700 {
fill:#388e3c!important;
}

.stroke-green-700 {
stroke:#388e3c!important;
}

.color-green-800 {
color:#2e7d32!important;
}

.bg-green-800 {
background-color:#2e7d32!important;
}

.border-green-800 {
border-color:#2e7d32!important;
}

.fill-green-800 {
fill:#2e7d32!important;
}

.stroke-green-800 {
stroke:#2e7d32!important;
}

.color-green-900 {
color:#1b5e20!important;
}

.bg-green-900 {
background-color:#1b5e20!important;
}

.border-green-900 {
border-color:#1b5e20!important;
}

.fill-green-900 {
fill:#1b5e20!important;
}

.stroke-green-900 {
stroke:#1b5e20!important;
}

.color-green-a100 {
color:#b9f6ca!important;
}

.bg-green-a100 {
background-color:#b9f6ca!important;
}

.border-green-a100 {
border-color:#b9f6ca!important;
}

.fill-green-a100 {
fill:#b9f6ca!important;
}

.stroke-green-a100 {
stroke:#b9f6ca!important;
}

.color-green-a200 {
color:#69f0ae!important;
}

.bg-green-a200 {
background-color:#69f0ae!important;
}

.border-green-a200 {
border-color:#69f0ae!important;
}

.fill-green-a200 {
fill:#69f0ae!important;
}

.stroke-green-a200 {
stroke:#69f0ae!important;
}

.color-green-a400 {
color:#00e676!important;
}

.bg-green-a400 {
background-color:#00e676!important;
}

.border-green-a400 {
border-color:#00e676!important;
}

.fill-green-a400 {
fill:#00e676!important;
}

.stroke-green-a400 {
stroke:#00e676!important;
}

.color-green-a700 {
color:#00c853!important;
}

.bg-green-a700 {
background-color:#00c853!important;
}

.border-green-a700 {
border-color:#00c853!important;
}

.fill-green-a700 {
fill:#00c853!important;
}

.stroke-green-a700 {
stroke:#00c853!important;
}

.color-light-green-50 {
color:#f1f8e9!important;
}

.bg-light-green-50 {
background-color:#f1f8e9!important;
}

.border-light-green-50 {
border-color:#f1f8e9!important;
}

.fill-light-green-50 {
fill:#f1f8e9!important;
}

.stroke-light-green-50 {
stroke:#f1f8e9!important;
}

.color-light-green-100 {
color:#dcedc8!important;
}

.bg-light-green-100 {
background-color:#dcedc8!important;
}

.border-light-green-100 {
border-color:#dcedc8!important;
}

.fill-light-green-100 {
fill:#dcedc8!important;
}

.stroke-light-green-100 {
stroke:#dcedc8!important;
}

.color-light-green-200 {
color:#c5e1a5!important;
}

.bg-light-green-200 {
background-color:#c5e1a5!important;
}

.border-light-green-200 {
border-color:#c5e1a5!important;
}

.fill-light-green-200 {
fill:#c5e1a5!important;
}

.stroke-light-green-200 {
stroke:#c5e1a5!important;
}

.color-light-green-300 {
color:#aed581!important;
}

.bg-light-green-300 {
background-color:#aed581!important;
}

.border-light-green-300 {
border-color:#aed581!important;
}

.fill-light-green-300 {
fill:#aed581!important;
}

.stroke-light-green-300 {
stroke:#aed581!important;
}

.color-light-green-400 {
color:#9ccc65!important;
}

.bg-light-green-400 {
background-color:#9ccc65!important;
}

.border-light-green-400 {
border-color:#9ccc65!important;
}

.fill-light-green-400 {
fill:#9ccc65!important;
}

.stroke-light-green-400 {
stroke:#9ccc65!important;
}

.color-light-green-500 {
color:#8bc34a!important;
}

.bg-light-green-500 {
background-color:#8bc34a!important;
}

.border-light-green-500 {
border-color:#8bc34a!important;
}

.fill-light-green-500 {
fill:#8bc34a!important;
}

.stroke-light-green-500 {
stroke:#8bc34a!important;
}

.color-light-green-600 {
color:#7cb342!important;
}

.bg-light-green-600 {
background-color:#7cb342!important;
}

.border-light-green-600 {
border-color:#7cb342!important;
}

.fill-light-green-600 {
fill:#7cb342!important;
}

.stroke-light-green-600 {
stroke:#7cb342!important;
}

.color-light-green-700 {
color:#689f38!important;
}

.bg-light-green-700 {
background-color:#689f38!important;
}

.border-light-green-700 {
border-color:#689f38!important;
}

.fill-light-green-700 {
fill:#689f38!important;
}

.stroke-light-green-700 {
stroke:#689f38!important;
}

.color-light-green-800 {
color:#558b2f!important;
}

.bg-light-green-800 {
background-color:#558b2f!important;
}

.border-light-green-800 {
border-color:#558b2f!important;
}

.fill-light-green-800 {
fill:#558b2f!important;
}

.stroke-light-green-800 {
stroke:#558b2f!important;
}

.color-light-green-900 {
color:#33691e!important;
}

.bg-light-green-900 {
background-color:#33691e!important;
}

.border-light-green-900 {
border-color:#33691e!important;
}

.fill-light-green-900 {
fill:#33691e!important;
}

.stroke-light-green-900 {
stroke:#33691e!important;
}

.color-light-green-a100 {
color:#ccff90!important;
}

.bg-light-green-a100 {
background-color:#ccff90!important;
}

.border-light-green-a100 {
border-color:#ccff90!important;
}

.fill-light-green-a100 {
fill:#ccff90!important;
}

.stroke-light-green-a100 {
stroke:#ccff90!important;
}

.color-light-green-a200 {
color:#b2ff59!important;
}

.bg-light-green-a200 {
background-color:#b2ff59!important;
}

.border-light-green-a200 {
border-color:#b2ff59!important;
}

.fill-light-green-a200 {
fill:#b2ff59!important;
}

.stroke-light-green-a200 {
stroke:#b2ff59!important;
}

.color-light-green-a400 {
color:#76ff03!important;
}

.bg-light-green-a400 {
background-color:#76ff03!important;
}

.border-light-green-a400 {
border-color:#76ff03!important;
}

.fill-light-green-a400 {
fill:#76ff03!important;
}

.stroke-light-green-a400 {
stroke:#76ff03!important;
}

.color-light-green-a700 {
color:#64dd17!important;
}

.bg-light-green-a700 {
background-color:#64dd17!important;
}

.border-light-green-a700 {
border-color:#64dd17!important;
}

.fill-light-green-a700 {
fill:#64dd17!important;
}

.stroke-light-green-a700 {
stroke:#64dd17!important;
}

.color-lime-50 {
color:#f9fbe7!important;
}

.bg-lime-50 {
background-color:#f9fbe7!important;
}

.border-lime-50 {
border-color:#f9fbe7!important;
}

.fill-lime-50 {
fill:#f9fbe7!important;
}

.stroke-lime-50 {
stroke:#f9fbe7!important;
}

.color-lime-100 {
color:#f0f4c3!important;
}

.bg-lime-100 {
background-color:#f0f4c3!important;
}

.border-lime-100 {
border-color:#f0f4c3!important;
}

.fill-lime-100 {
fill:#f0f4c3!important;
}

.stroke-lime-100 {
stroke:#f0f4c3!important;
}

.color-lime-200 {
color:#e6ee9c!important;
}

.bg-lime-200 {
background-color:#e6ee9c!important;
}

.border-lime-200 {
border-color:#e6ee9c!important;
}

.fill-lime-200 {
fill:#e6ee9c!important;
}

.stroke-lime-200 {
stroke:#e6ee9c!important;
}

.color-lime-300 {
color:#dce775!important;
}

.bg-lime-300 {
background-color:#dce775!important;
}

.border-lime-300 {
border-color:#dce775!important;
}

.fill-lime-300 {
fill:#dce775!important;
}

.stroke-lime-300 {
stroke:#dce775!important;
}

.color-lime-400 {
color:#d4e157!important;
}

.bg-lime-400 {
background-color:#d4e157!important;
}

.border-lime-400 {
border-color:#d4e157!important;
}

.fill-lime-400 {
fill:#d4e157!important;
}

.stroke-lime-400 {
stroke:#d4e157!important;
}

.color-lime-500 {
color:#cddc39!important;
}

.bg-lime-500 {
background-color:#cddc39!important;
}

.border-lime-500 {
border-color:#cddc39!important;
}

.fill-lime-500 {
fill:#cddc39!important;
}

.stroke-lime-500 {
stroke:#cddc39!important;
}

.color-lime-600 {
color:#c0ca33!important;
}

.bg-lime-600 {
background-color:#c0ca33!important;
}

.border-lime-600 {
border-color:#c0ca33!important;
}

.fill-lime-600 {
fill:#c0ca33!important;
}

.stroke-lime-600 {
stroke:#c0ca33!important;
}

.color-lime-700 {
color:#afb42b!important;
}

.bg-lime-700 {
background-color:#afb42b!important;
}

.border-lime-700 {
border-color:#afb42b!important;
}

.fill-lime-700 {
fill:#afb42b!important;
}

.stroke-lime-700 {
stroke:#afb42b!important;
}

.color-lime-800 {
color:#9e9d24!important;
}

.bg-lime-800 {
background-color:#9e9d24!important;
}

.border-lime-800 {
border-color:#9e9d24!important;
}

.fill-lime-800 {
fill:#9e9d24!important;
}

.stroke-lime-800 {
stroke:#9e9d24!important;
}

.color-lime-900 {
color:#827717!important;
}

.bg-lime-900 {
background-color:#827717!important;
}

.border-lime-900 {
border-color:#827717!important;
}

.fill-lime-900 {
fill:#827717!important;
}

.stroke-lime-900 {
stroke:#827717!important;
}

.color-lime-a100 {
color:#f4ff81!important;
}

.bg-lime-a100 {
background-color:#f4ff81!important;
}

.border-lime-a100 {
border-color:#f4ff81!important;
}

.fill-lime-a100 {
fill:#f4ff81!important;
}

.stroke-lime-a100 {
stroke:#f4ff81!important;
}

.color-lime-a200 {
color:#eeff41!important;
}

.bg-lime-a200 {
background-color:#eeff41!important;
}

.border-lime-a200 {
border-color:#eeff41!important;
}

.fill-lime-a200 {
fill:#eeff41!important;
}

.stroke-lime-a200 {
stroke:#eeff41!important;
}

.color-lime-a400 {
color:#c6ff00!important;
}

.bg-lime-a400 {
background-color:#c6ff00!important;
}

.border-lime-a400 {
border-color:#c6ff00!important;
}

.fill-lime-a400 {
fill:#c6ff00!important;
}

.stroke-lime-a400 {
stroke:#c6ff00!important;
}

.color-lime-a700 {
color:#aeea00!important;
}

.bg-lime-a700 {
background-color:#aeea00!important;
}

.border-lime-a700 {
border-color:#aeea00!important;
}

.fill-lime-a700 {
fill:#aeea00!important;
}

.stroke-lime-a700 {
stroke:#aeea00!important;
}

.color-yellow-50 {
color:#fffde7!important;
}

.bg-yellow-50 {
background-color:#fffde7!important;
}

.border-yellow-50 {
border-color:#fffde7!important;
}

.fill-yellow-50 {
fill:#fffde7!important;
}

.stroke-yellow-50 {
stroke:#fffde7!important;
}

.color-yellow-100 {
color:#fff9c4!important;
}

.bg-yellow-100 {
background-color:#fff9c4!important;
}

.border-yellow-100 {
border-color:#fff9c4!important;
}

.fill-yellow-100 {
fill:#fff9c4!important;
}

.stroke-yellow-100 {
stroke:#fff9c4!important;
}

.color-yellow-200 {
color:#fff59d!important;
}

.bg-yellow-200 {
background-color:#fff59d!important;
}

.border-yellow-200 {
border-color:#fff59d!important;
}

.fill-yellow-200 {
fill:#fff59d!important;
}

.stroke-yellow-200 {
stroke:#fff59d!important;
}

.color-yellow-300 {
color:#fff176!important;
}

.bg-yellow-300 {
background-color:#fff176!important;
}

.border-yellow-300 {
border-color:#fff176!important;
}

.fill-yellow-300 {
fill:#fff176!important;
}

.stroke-yellow-300 {
stroke:#fff176!important;
}

.color-yellow-400 {
color:#ffee58!important;
}

.bg-yellow-400 {
background-color:#ffee58!important;
}

.border-yellow-400 {
border-color:#ffee58!important;
}

.fill-yellow-400 {
fill:#ffee58!important;
}

.stroke-yellow-400 {
stroke:#ffee58!important;
}

.color-yellow-500 {
color:#ffeb3b!important;
}

.bg-yellow-500 {
background-color:#ffeb3b!important;
}

.border-yellow-500 {
border-color:#ffeb3b!important;
}

.fill-yellow-500 {
fill:#ffeb3b!important;
}

.stroke-yellow-500 {
stroke:#ffeb3b!important;
}

.color-yellow-600 {
color:#fdd835!important;
}

.bg-yellow-600 {
background-color:#fdd835!important;
}

.border-yellow-600 {
border-color:#fdd835!important;
}

.fill-yellow-600 {
fill:#fdd835!important;
}

.stroke-yellow-600 {
stroke:#fdd835!important;
}

.color-yellow-700 {
color:#fbc02d!important;
}

.bg-yellow-700 {
background-color:#fbc02d!important;
}

.border-yellow-700 {
border-color:#fbc02d!important;
}

.fill-yellow-700 {
fill:#fbc02d!important;
}

.stroke-yellow-700 {
stroke:#fbc02d!important;
}

.color-yellow-800 {
color:#f9a825!important;
}

.bg-yellow-800 {
background-color:#f9a825!important;
}

.border-yellow-800 {
border-color:#f9a825!important;
}

.fill-yellow-800 {
fill:#f9a825!important;
}

.stroke-yellow-800 {
stroke:#f9a825!important;
}

.color-yellow-900 {
color:#f57f17!important;
}

.bg-yellow-900 {
background-color:#f57f17!important;
}

.border-yellow-900 {
border-color:#f57f17!important;
}

.fill-yellow-900 {
fill:#f57f17!important;
}

.stroke-yellow-900 {
stroke:#f57f17!important;
}

.color-yellow-a100 {
color:#ffff8d!important;
}

.bg-yellow-a100 {
background-color:#ffff8d!important;
}

.border-yellow-a100 {
border-color:#ffff8d!important;
}

.fill-yellow-a100 {
fill:#ffff8d!important;
}

.stroke-yellow-a100 {
stroke:#ffff8d!important;
}

.color-yellow-a200 {
color:#ff0!important;
}

.bg-yellow-a200 {
background-color:#ff0!important;
}

.border-yellow-a200 {
border-color:#ff0!important;
}

.fill-yellow-a200 {
fill:#ff0!important;
}

.stroke-yellow-a200 {
stroke:#ff0!important;
}

.color-yellow-a400 {
color:#ffea00!important;
}

.bg-yellow-a400 {
background-color:#ffea00!important;
}

.border-yellow-a400 {
border-color:#ffea00!important;
}

.fill-yellow-a400 {
fill:#ffea00!important;
}

.stroke-yellow-a400 {
stroke:#ffea00!important;
}

.color-yellow-a700 {
color:#ffd600!important;
}

.bg-yellow-a700 {
background-color:#ffd600!important;
}

.border-yellow-a700 {
border-color:#ffd600!important;
}

.fill-yellow-a700 {
fill:#ffd600!important;
}

.stroke-yellow-a700 {
stroke:#ffd600!important;
}

.color-amber-50 {
color:#fff8e1!important;
}

.bg-amber-50 {
background-color:#fff8e1!important;
}

.border-amber-50 {
border-color:#fff8e1!important;
}

.fill-amber-50 {
fill:#fff8e1!important;
}

.stroke-amber-50 {
stroke:#fff8e1!important;
}

.color-amber-100 {
color:#ffecb3!important;
}

.bg-amber-100 {
background-color:#ffecb3!important;
}

.border-amber-100 {
border-color:#ffecb3!important;
}

.fill-amber-100 {
fill:#ffecb3!important;
}

.stroke-amber-100 {
stroke:#ffecb3!important;
}

.color-amber-200 {
color:#ffe082!important;
}

.bg-amber-200 {
background-color:#ffe082!important;
}

.border-amber-200 {
border-color:#ffe082!important;
}

.fill-amber-200 {
fill:#ffe082!important;
}

.stroke-amber-200 {
stroke:#ffe082!important;
}

.color-amber-300 {
color:#ffd54f!important;
}

.bg-amber-300 {
background-color:#ffd54f!important;
}

.border-amber-300 {
border-color:#ffd54f!important;
}

.fill-amber-300 {
fill:#ffd54f!important;
}

.stroke-amber-300 {
stroke:#ffd54f!important;
}

.color-amber-400 {
color:#ffca28!important;
}

.bg-amber-400 {
background-color:#ffca28!important;
}

.border-amber-400 {
border-color:#ffca28!important;
}

.fill-amber-400 {
fill:#ffca28!important;
}

.stroke-amber-400 {
stroke:#ffca28!important;
}

.color-amber-500 {
color:#ffc107!important;
}

.bg-amber-500 {
background-color:#ffc107!important;
}

.border-amber-500 {
border-color:#ffc107!important;
}

.fill-amber-500 {
fill:#ffc107!important;
}

.stroke-amber-500 {
stroke:#ffc107!important;
}

.color-amber-600 {
color:#ffb300!important;
}

.bg-amber-600 {
background-color:#ffb300!important;
}

.border-amber-600 {
border-color:#ffb300!important;
}

.fill-amber-600 {
fill:#ffb300!important;
}

.stroke-amber-600 {
stroke:#ffb300!important;
}

.color-amber-700 {
color:#ffa000!important;
}

.bg-amber-700 {
background-color:#ffa000!important;
}

.border-amber-700 {
border-color:#ffa000!important;
}

.fill-amber-700 {
fill:#ffa000!important;
}

.stroke-amber-700 {
stroke:#ffa000!important;
}

.color-amber-800 {
color:#ff8f00!important;
}

.bg-amber-800 {
background-color:#ff8f00!important;
}

.border-amber-800 {
border-color:#ff8f00!important;
}

.fill-amber-800 {
fill:#ff8f00!important;
}

.stroke-amber-800 {
stroke:#ff8f00!important;
}

.color-amber-900 {
color:#ff6f00!important;
}

.bg-amber-900 {
background-color:#ff6f00!important;
}

.border-amber-900 {
border-color:#ff6f00!important;
}

.fill-amber-900 {
fill:#ff6f00!important;
}

.stroke-amber-900 {
stroke:#ff6f00!important;
}

.color-amber-a100 {
color:#ffe57f!important;
}

.bg-amber-a100 {
background-color:#ffe57f!important;
}

.border-amber-a100 {
border-color:#ffe57f!important;
}

.fill-amber-a100 {
fill:#ffe57f!important;
}

.stroke-amber-a100 {
stroke:#ffe57f!important;
}

.color-amber-a200 {
color:#ffd740!important;
}

.bg-amber-a200 {
background-color:#ffd740!important;
}

.border-amber-a200 {
border-color:#ffd740!important;
}

.fill-amber-a200 {
fill:#ffd740!important;
}

.stroke-amber-a200 {
stroke:#ffd740!important;
}

.color-amber-a400 {
color:#ffc400!important;
}

.bg-amber-a400 {
background-color:#ffc400!important;
}

.border-amber-a400 {
border-color:#ffc400!important;
}

.fill-amber-a400 {
fill:#ffc400!important;
}

.stroke-amber-a400 {
stroke:#ffc400!important;
}

.color-amber-a700 {
color:#ffab00!important;
}

.bg-amber-a700 {
background-color:#ffab00!important;
}

.border-amber-a700 {
border-color:#ffab00!important;
}

.fill-amber-a700 {
fill:#ffab00!important;
}

.stroke-amber-a700 {
stroke:#ffab00!important;
}

.color-orange-50 {
color:#fff3e0!important;
}

.bg-orange-50 {
background-color:#fff3e0!important;
}

.border-orange-50 {
border-color:#fff3e0!important;
}

.fill-orange-50 {
fill:#fff3e0!important;
}

.stroke-orange-50 {
stroke:#fff3e0!important;
}

.color-orange-100 {
color:#ffe0b2!important;
}

.bg-orange-100 {
background-color:#ffe0b2!important;
}

.border-orange-100 {
border-color:#ffe0b2!important;
}

.fill-orange-100 {
fill:#ffe0b2!important;
}

.stroke-orange-100 {
stroke:#ffe0b2!important;
}

.color-orange-200 {
color:#ffcc80!important;
}

.bg-orange-200 {
background-color:#ffcc80!important;
}

.border-orange-200 {
border-color:#ffcc80!important;
}

.fill-orange-200 {
fill:#ffcc80!important;
}

.stroke-orange-200 {
stroke:#ffcc80!important;
}

.color-orange-300 {
color:#ffb74d!important;
}

.bg-orange-300 {
background-color:#ffb74d!important;
}

.border-orange-300 {
border-color:#ffb74d!important;
}

.fill-orange-300 {
fill:#ffb74d!important;
}

.stroke-orange-300 {
stroke:#ffb74d!important;
}

.color-orange-400 {
color:#ffa726!important;
}

.bg-orange-400 {
background-color:#ffa726!important;
}

.border-orange-400 {
border-color:#ffa726!important;
}

.fill-orange-400 {
fill:#ffa726!important;
}

.stroke-orange-400 {
stroke:#ffa726!important;
}

.color-orange-500 {
color:#ff9800!important;
}

.bg-orange-500 {
background-color:#ff9800!important;
}

.border-orange-500 {
border-color:#ff9800!important;
}

.fill-orange-500 {
fill:#ff9800!important;
}

.stroke-orange-500 {
stroke:#ff9800!important;
}

.color-orange-600 {
color:#fb8c00!important;
}

.bg-orange-600 {
background-color:#fb8c00!important;
}

.border-orange-600 {
border-color:#fb8c00!important;
}

.fill-orange-600 {
fill:#fb8c00!important;
}

.stroke-orange-600 {
stroke:#fb8c00!important;
}

.color-orange-700 {
color:#f57c00!important;
}

.bg-orange-700 {
background-color:#f57c00!important;
}

.border-orange-700 {
border-color:#f57c00!important;
}

.fill-orange-700 {
fill:#f57c00!important;
}

.stroke-orange-700 {
stroke:#f57c00!important;
}

.color-orange-800 {
color:#ef6c00!important;
}

.bg-orange-800 {
background-color:#ef6c00!important;
}

.border-orange-800 {
border-color:#ef6c00!important;
}

.fill-orange-800 {
fill:#ef6c00!important;
}

.stroke-orange-800 {
stroke:#ef6c00!important;
}

.color-orange-900 {
color:#e65100!important;
}

.bg-orange-900 {
background-color:#e65100!important;
}

.border-orange-900 {
border-color:#e65100!important;
}

.fill-orange-900 {
fill:#e65100!important;
}

.stroke-orange-900 {
stroke:#e65100!important;
}

.color-orange-a100 {
color:#ffd180!important;
}

.bg-orange-a100 {
background-color:#ffd180!important;
}

.border-orange-a100 {
border-color:#ffd180!important;
}

.fill-orange-a100 {
fill:#ffd180!important;
}

.stroke-orange-a100 {
stroke:#ffd180!important;
}

.color-orange-a200 {
color:#ffab40!important;
}

.bg-orange-a200 {
background-color:#ffab40!important;
}

.border-orange-a200 {
border-color:#ffab40!important;
}

.fill-orange-a200 {
fill:#ffab40!important;
}

.stroke-orange-a200 {
stroke:#ffab40!important;
}

.color-orange-a400 {
color:#ff9100!important;
}

.bg-orange-a400 {
background-color:#ff9100!important;
}

.border-orange-a400 {
border-color:#ff9100!important;
}

.fill-orange-a400 {
fill:#ff9100!important;
}

.stroke-orange-a400 {
stroke:#ff9100!important;
}

.color-orange-a700 {
color:#ff6d00!important;
}

.bg-orange-a700 {
background-color:#ff6d00!important;
}

.border-orange-a700 {
border-color:#ff6d00!important;
}

.fill-orange-a700 {
fill:#ff6d00!important;
}

.stroke-orange-a700 {
stroke:#ff6d00!important;
}

.color-deep-orange-50 {
color:#fbe9e7!important;
}

.bg-deep-orange-50 {
background-color:#fbe9e7!important;
}

.border-deep-orange-50 {
border-color:#fbe9e7!important;
}

.fill-deep-orange-50 {
fill:#fbe9e7!important;
}

.stroke-deep-orange-50 {
stroke:#fbe9e7!important;
}

.color-deep-orange-100 {
color:#ffccbc!important;
}

.bg-deep-orange-100 {
background-color:#ffccbc!important;
}

.border-deep-orange-100 {
border-color:#ffccbc!important;
}

.fill-deep-orange-100 {
fill:#ffccbc!important;
}

.stroke-deep-orange-100 {
stroke:#ffccbc!important;
}

.color-deep-orange-200 {
color:#ffab91!important;
}

.bg-deep-orange-200 {
background-color:#ffab91!important;
}

.border-deep-orange-200 {
border-color:#ffab91!important;
}

.fill-deep-orange-200 {
fill:#ffab91!important;
}

.stroke-deep-orange-200 {
stroke:#ffab91!important;
}

.color-deep-orange-300 {
color:#ff8a65!important;
}

.bg-deep-orange-300 {
background-color:#ff8a65!important;
}

.border-deep-orange-300 {
border-color:#ff8a65!important;
}

.fill-deep-orange-300 {
fill:#ff8a65!important;
}

.stroke-deep-orange-300 {
stroke:#ff8a65!important;
}

.color-deep-orange-400 {
color:#ff7043!important;
}

.bg-deep-orange-400 {
background-color:#ff7043!important;
}

.border-deep-orange-400 {
border-color:#ff7043!important;
}

.fill-deep-orange-400 {
fill:#ff7043!important;
}

.stroke-deep-orange-400 {
stroke:#ff7043!important;
}

.color-deep-orange-500 {
color:#ff5722!important;
}

.bg-deep-orange-500 {
background-color:#ff5722!important;
}

.border-deep-orange-500 {
border-color:#ff5722!important;
}

.fill-deep-orange-500 {
fill:#ff5722!important;
}

.stroke-deep-orange-500 {
stroke:#ff5722!important;
}

.color-deep-orange-600 {
color:#f4511e!important;
}

.bg-deep-orange-600 {
background-color:#f4511e!important;
}

.border-deep-orange-600 {
border-color:#f4511e!important;
}

.fill-deep-orange-600 {
fill:#f4511e!important;
}

.stroke-deep-orange-600 {
stroke:#f4511e!important;
}

.color-deep-orange-700 {
color:#e64a19!important;
}

.bg-deep-orange-700 {
background-color:#e64a19!important;
}

.border-deep-orange-700 {
border-color:#e64a19!important;
}

.fill-deep-orange-700 {
fill:#e64a19!important;
}

.stroke-deep-orange-700 {
stroke:#e64a19!important;
}

.color-deep-orange-800 {
color:#d84315!important;
}

.bg-deep-orange-800 {
background-color:#d84315!important;
}

.border-deep-orange-800 {
border-color:#d84315!important;
}

.fill-deep-orange-800 {
fill:#d84315!important;
}

.stroke-deep-orange-800 {
stroke:#d84315!important;
}

.color-deep-orange-900 {
color:#bf360c!important;
}

.bg-deep-orange-900 {
background-color:#bf360c!important;
}

.border-deep-orange-900 {
border-color:#bf360c!important;
}

.fill-deep-orange-900 {
fill:#bf360c!important;
}

.stroke-deep-orange-900 {
stroke:#bf360c!important;
}

.color-deep-orange-a100 {
color:#ff9e80!important;
}

.bg-deep-orange-a100 {
background-color:#ff9e80!important;
}

.border-deep-orange-a100 {
border-color:#ff9e80!important;
}

.fill-deep-orange-a100 {
fill:#ff9e80!important;
}

.stroke-deep-orange-a100 {
stroke:#ff9e80!important;
}

.color-deep-orange-a200 {
color:#ff6e40!important;
}

.bg-deep-orange-a200 {
background-color:#ff6e40!important;
}

.border-deep-orange-a200 {
border-color:#ff6e40!important;
}

.fill-deep-orange-a200 {
fill:#ff6e40!important;
}

.stroke-deep-orange-a200 {
stroke:#ff6e40!important;
}

.color-deep-orange-a400 {
color:#ff3d00!important;
}

.bg-deep-orange-a400 {
background-color:#ff3d00!important;
}

.border-deep-orange-a400 {
border-color:#ff3d00!important;
}

.fill-deep-orange-a400 {
fill:#ff3d00!important;
}

.stroke-deep-orange-a400 {
stroke:#ff3d00!important;
}

.color-deep-orange-a700 {
color:#dd2c00!important;
}

.bg-deep-orange-a700 {
background-color:#dd2c00!important;
}

.border-deep-orange-a700 {
border-color:#dd2c00!important;
}

.fill-deep-orange-a700 {
fill:#dd2c00!important;
}

.stroke-deep-orange-a700 {
stroke:#dd2c00!important;
}

.color-brown-50 {
color:#efebe9!important;
}

.bg-brown-50 {
background-color:#efebe9!important;
}

.border-brown-50 {
border-color:#efebe9!important;
}

.fill-brown-50 {
fill:#efebe9!important;
}

.stroke-brown-50 {
stroke:#efebe9!important;
}

.color-brown-100 {
color:#d7ccc8!important;
}

.bg-brown-100 {
background-color:#d7ccc8!important;
}

.border-brown-100 {
border-color:#d7ccc8!important;
}

.fill-brown-100 {
fill:#d7ccc8!important;
}

.stroke-brown-100 {
stroke:#d7ccc8!important;
}

.color-brown-200 {
color:#bcaaa4!important;
}

.bg-brown-200 {
background-color:#bcaaa4!important;
}

.border-brown-200 {
border-color:#bcaaa4!important;
}

.fill-brown-200 {
fill:#bcaaa4!important;
}

.stroke-brown-200 {
stroke:#bcaaa4!important;
}

.color-brown-300 {
color:#a1887f!important;
}

.bg-brown-300 {
background-color:#a1887f!important;
}

.border-brown-300 {
border-color:#a1887f!important;
}

.fill-brown-300 {
fill:#a1887f!important;
}

.stroke-brown-300 {
stroke:#a1887f!important;
}

.color-brown-400 {
color:#8d6e63!important;
}

.bg-brown-400 {
background-color:#8d6e63!important;
}

.border-brown-400 {
border-color:#8d6e63!important;
}

.fill-brown-400 {
fill:#8d6e63!important;
}

.stroke-brown-400 {
stroke:#8d6e63!important;
}

.color-brown-500 {
color:#795548!important;
}

.bg-brown-500 {
background-color:#795548!important;
}

.border-brown-500 {
border-color:#795548!important;
}

.fill-brown-500 {
fill:#795548!important;
}

.stroke-brown-500 {
stroke:#795548!important;
}

.color-brown-600 {
color:#6d4c41!important;
}

.bg-brown-600 {
background-color:#6d4c41!important;
}

.border-brown-600 {
border-color:#6d4c41!important;
}

.fill-brown-600 {
fill:#6d4c41!important;
}

.stroke-brown-600 {
stroke:#6d4c41!important;
}

.color-brown-700 {
color:#5d4037!important;
}

.bg-brown-700 {
background-color:#5d4037!important;
}

.border-brown-700 {
border-color:#5d4037!important;
}

.fill-brown-700 {
fill:#5d4037!important;
}

.stroke-brown-700 {
stroke:#5d4037!important;
}

.color-brown-800 {
color:#4e342e!important;
}

.bg-brown-800 {
background-color:#4e342e!important;
}

.border-brown-800 {
border-color:#4e342e!important;
}

.fill-brown-800 {
fill:#4e342e!important;
}

.stroke-brown-800 {
stroke:#4e342e!important;
}

.color-brown-900 {
color:#3e2723!important;
}

.bg-brown-900 {
background-color:#3e2723!important;
}

.border-brown-900 {
border-color:#3e2723!important;
}

.fill-brown-900 {
fill:#3e2723!important;
}

.stroke-brown-900 {
stroke:#3e2723!important;
}

.color-grey-50 {
color:#fafafa!important;
}

.bg-grey-50 {
background-color:#fafafa!important;
}

.border-grey-50 {
border-color:#fafafa!important;
}

.fill-grey-50 {
fill:#fafafa!important;
}

.stroke-grey-50 {
stroke:#fafafa!important;
}

.color-grey-100 {
color:#f5f5f5!important;
}

.bg-grey-100 {
background-color:#f5f5f5!important;
}

.border-grey-100 {
border-color:#f5f5f5!important;
}

.fill-grey-100 {
fill:#f5f5f5!important;
}

.stroke-grey-100 {
stroke:#f5f5f5!important;
}

.color-grey-200 {
color:#eee!important;
}

.bg-grey-200 {
background-color:#eee!important;
}

.border-grey-200 {
border-color:#eee!important;
}

.fill-grey-200 {
fill:#eee!important;
}

.stroke-grey-200 {
stroke:#eee!important;
}

.color-grey-300 {
color:#e0e0e0!important;
}

.bg-grey-300 {
background-color:#e0e0e0!important;
}

.border-grey-300 {
border-color:#e0e0e0!important;
}

.fill-grey-300 {
fill:#e0e0e0!important;
}

.stroke-grey-300 {
stroke:#e0e0e0!important;
}

.color-grey-400 {
color:#bdbdbd!important;
}

.bg-grey-400 {
background-color:#bdbdbd!important;
}

.border-grey-400 {
border-color:#bdbdbd!important;
}

.fill-grey-400 {
fill:#bdbdbd!important;
}

.stroke-grey-400 {
stroke:#bdbdbd!important;
}

.color-grey-500 {
color:#9e9e9e!important;
}

.bg-grey-500 {
background-color:#9e9e9e!important;
}

.border-grey-500 {
border-color:#9e9e9e!important;
}

.fill-grey-500 {
fill:#9e9e9e!important;
}

.stroke-grey-500 {
stroke:#9e9e9e!important;
}

.color-grey-600 {
color:#757575!important;
}

.bg-grey-600 {
background-color:#757575!important;
}

.border-grey-600 {
border-color:#757575!important;
}

.fill-grey-600 {
fill:#757575!important;
}

.stroke-grey-600 {
stroke:#757575!important;
}

.color-grey-700 {
color:#616161!important;
}

.bg-grey-700 {
background-color:#616161!important;
}

.border-grey-700 {
border-color:#616161!important;
}

.fill-grey-700 {
fill:#616161!important;
}

.stroke-grey-700 {
stroke:#616161!important;
}

.color-grey-800 {
color:#424242!important;
}

.bg-grey-800 {
background-color:#424242!important;
}

.border-grey-800 {
border-color:#424242!important;
}

.fill-grey-800 {
fill:#424242!important;
}

.stroke-grey-800 {
stroke:#424242!important;
}

.color-grey-900 {
color:#212121!important;
}

.bg-grey-900 {
background-color:#212121!important;
}

.border-grey-900 {
border-color:#212121!important;
}

.fill-grey-900 {
fill:#212121!important;
}

.stroke-grey-900 {
stroke:#212121!important;
}

.color-blue-grey-50 {
color:#eceff1!important;
}

.bg-blue-grey-50 {
background-color:#eceff1!important;
}

.border-blue-grey-50 {
border-color:#eceff1!important;
}

.fill-blue-grey-50 {
fill:#eceff1!important;
}

.stroke-blue-grey-50 {
stroke:#eceff1!important;
}

.color-blue-grey-100 {
color:#cfd8dc!important;
}

.bg-blue-grey-100 {
background-color:#cfd8dc!important;
}

.border-blue-grey-100 {
border-color:#cfd8dc!important;
}

.fill-blue-grey-100 {
fill:#cfd8dc!important;
}

.stroke-blue-grey-100 {
stroke:#cfd8dc!important;
}

.color-blue-grey-200 {
color:#b0bec5!important;
}

.bg-blue-grey-200 {
background-color:#b0bec5!important;
}

.border-blue-grey-200 {
border-color:#b0bec5!important;
}

.fill-blue-grey-200 {
fill:#b0bec5!important;
}

.stroke-blue-grey-200 {
stroke:#b0bec5!important;
}

.color-blue-grey-300 {
color:#90a4ae!important;
}

.bg-blue-grey-300 {
background-color:#90a4ae!important;
}

.border-blue-grey-300 {
border-color:#90a4ae!important;
}

.fill-blue-grey-300 {
fill:#90a4ae!important;
}

.stroke-blue-grey-300 {
stroke:#90a4ae!important;
}

.color-blue-grey-400 {
color:#78909c!important;
}

.bg-blue-grey-400 {
background-color:#78909c!important;
}

.border-blue-grey-400 {
border-color:#78909c!important;
}

.fill-blue-grey-400 {
fill:#78909c!important;
}

.stroke-blue-grey-400 {
stroke:#78909c!important;
}

.color-blue-grey-500 {
color:#607d8b!important;
}

.bg-blue-grey-500 {
background-color:#607d8b!important;
}

.border-blue-grey-500 {
border-color:#607d8b!important;
}

.fill-blue-grey-500 {
fill:#607d8b!important;
}

.stroke-blue-grey-500 {
stroke:#607d8b!important;
}

.color-blue-grey-600 {
color:#546e7a!important;
}

.bg-blue-grey-600 {
background-color:#546e7a!important;
}

.border-blue-grey-600 {
border-color:#546e7a!important;
}

.fill-blue-grey-600 {
fill:#546e7a!important;
}

.stroke-blue-grey-600 {
stroke:#546e7a!important;
}

.color-blue-grey-700 {
color:#455a64!important;
}

.bg-blue-grey-700 {
background-color:#455a64!important;
}

.border-blue-grey-700 {
border-color:#455a64!important;
}

.fill-blue-grey-700 {
fill:#455a64!important;
}

.stroke-blue-grey-700 {
stroke:#455a64!important;
}

.color-blue-grey-800 {
color:#37474f!important;
}

.bg-blue-grey-800 {
background-color:#37474f!important;
}

.border-blue-grey-800 {
border-color:#37474f!important;
}

.fill-blue-grey-800 {
fill:#37474f!important;
}

.stroke-blue-grey-800 {
stroke:#37474f!important;
}

.color-blue-grey-900 {
color:#263238!important;
}

.bg-blue-grey-900 {
background-color:#263238!important;
}

.border-blue-grey-900 {
border-color:#263238!important;
}

.fill-blue-grey-900 {
fill:#263238!important;
}

.stroke-blue-grey-900 {
stroke:#263238!important;
}

.color-white {
color:#fff!important;
}

.bg-white {
background-color:#fff!important;
}

.border-white {
border-color:#fff!important;
}

.fill-white {
fill:#fff!important;
}

.stroke-white {
stroke:#fff!important;
}

.color-black {
color:#000!important;
}

.bg-black {
background-color:#000!important;
}

.border-black {
border-color:#000!important;
}

.fill-black {
fill:#000!important;
}

.stroke-black {
stroke:#000!important;
}